.element__basket {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  visibility: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.element__basket:hover {
  opacity: 0.6;
  animation-fill-mode: forwards;
  cursor: pointer;
}
