.form__button {
  margin: 48px auto 0 auto;
  border: none;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.form__button:hover {
  opacity: 0.8;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .form__button {
    margin: 45px auto 0 auto;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 1.21;
  }
}
