.form__fild {
  outline: none;
  border: none;
  border: 0;
  padding: 0;
  width: 358px;
  height: 27px;
  color: #000;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  background-color: transparent;
  margin-top: 54px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
}

.form__fild:nth-of-type(1n+2) {
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  .form__fild {
    margin-top: 75px;
    width: 238px;
  }
}
