.profile__description {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  color: #fff;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile__description {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    grid-column-end: 2;
  }
}
